<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPConnectionFavorites</key>
	<array>
		<dict>
			<key>colorIndex</key>
			<integer>6</integer>
			<key>host</key>
			<string>vvv.dev</string>
			<key>id</key>
			<integer>5774196957487615846</integer>
			<key>name</key>
			<string>VVV</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>vvv.dev</string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>vagrant</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>useSSL</key>
			<integer>1</integer>
			<key>user</key>
			<string>wp</string>
		</dict>
	</array>
</dict>
</plist>
